.image-wrapper > span {
  /*styles go here*/
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4), 0 6px 20px 0 rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.btn {
  background-color: var(--background-color);
  color: var(--button-color);
  padding: .5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 5px;

  --background-color: #001e3c;
  --button-color: rgb(207,204,204);
  --border-size: 2px;
}

.btn.btn-know::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: var(--border-size) solid var(--button-color);
  transition: top, left, right, bottom, 100ms ease-in-out;
}

.btn.btn-know:hover::before,
.btn.btn-know:focus::before {
  top: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
}




